<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trackmania Randomizer</title>
</head>
<body>
	<form>
		<select id="tags" name="tags">
			<option value="49" data-select2-id="52">Altered Nadeo</option>
			<option value="40" data-select2-id="53">Arena</option>
			<option value="34" data-select2-id="54">Backwards</option>
			<option value="44" data-select2-id="55">Bobsleigh</option>
			<option value="56" data-select2-id="56">Bugslide</option>
			<option value="20" data-select2-id="57">Bumper</option>
			<option value="13" data-select2-id="58">Competitive</option>
			<option value="62" data-select2-id="59">CruiseControl</option>
			<option value="59" data-select2-id="60">DesertCar</option>
			<option value="15" data-select2-id="61">Dirt</option>
			<option value="42" data-select2-id="62">Educational</option>
			<option value="24" data-select2-id="63">Endurance</option>
			<option value="35" data-select2-id="64">EngineOff</option>
			<option value="46" data-select2-id="65">FlagRush</option>
			<option value="21" data-select2-id="66">Fragile</option>
			<option value="48" data-select2-id="67">Freeblocking</option>
			<option value="41" data-select2-id="68">Freestyle</option>
			<option value="2" data-select2-id="69">FullSpeed</option>
			<option value="33" data-select2-id="70">Grass</option>
			<option value="14" data-select2-id="71">Ice</option>
			<option value="23" data-select2-id="72">Kacky</option>
			<option value="5" data-select2-id="73">LOL</option>
			<option value="66" data-select2-id="74">Magnet</option>
			<option value="25" data-select2-id="75">Mini</option>
			<option value="30" data-select2-id="76">Minigame</option>
			<option value="27" data-select2-id="77">Mixed</option>
			<option value="55" data-select2-id="78">MixedCar</option>
			<option value="58" data-select2-id="79">Moving Items</option>
			<option value="57" data-select2-id="80">Mudslide</option>
			<option value="8" data-select2-id="81">MultiLap</option>
			<option value="28" data-select2-id="41">Nascar</option>
			<option value="61" data-select2-id="82">NoBrake</option>
			<option value="63" data-select2-id="83">NoSteer</option>
			<option value="31" data-select2-id="84">Obstacle</option>
			<option value="9" data-select2-id="85">Offroad</option>
			<option value="45" data-select2-id="86">Pathfinding</option>
			<option value="65" data-select2-id="87">Pipes</option>
			<option value="39" data-select2-id="88">Plastic</option>
			<option value="18" data-select2-id="89">Platform</option>
			<option value="6" data-select2-id="90">Press Forward</option>
			<option value="47" data-select2-id="91">Puzzle</option>
			<option value="1" data-select2-id="92">Race</option>
			<option value="54" data-select2-id="93">RallyCar</option>
			<option value="17" data-select2-id="94">Reactor</option>
			<option value="26" data-select2-id="95">Remake</option>
			<option value="37" data-select2-id="96">Royal</option>
			<option value="4" data-select2-id="97">RPG</option>
			<option value="64" data-select2-id="98">RPG-Immersive</option>
			<option value="43" data-select2-id="99">Sausage</option>
			<option value="22" data-select2-id="100">Scenery</option>
			<option value="36" data-select2-id="101">Signature</option>
			<option value="19" data-select2-id="102">Slow Motion</option>
			<option value="50" data-select2-id="103">SnowCar</option>
			<option value="29" data-select2-id="104">SpeedDrift</option>
			<option value="12" data-select2-id="105">SpeedFun</option>
			<option value="60" data-select2-id="106">SpeedMapping</option>
			<option value="7" data-select2-id="107">SpeedTech</option>
			<option value="16" data-select2-id="108">Stunt</option>
			<option value="3" data-select2-id="109">Tech</option>
			<option value="32" data-select2-id="110">Transitional</option>
			<option value="10" data-select2-id="111">Trial</option>
			<option value="53" data-select2-id="112">Turtle</option>
			<option value="52" data-select2-id="113">Underwater</option>
			<option value="38" data-select2-id="114">Water</option>
			<option value="51" data-select2-id="115">Wood</option>
			<option value="11" data-select2-id="116">ZrT</option>
		</select>

		<select id="difficulty" name="difficulty">
			<option value="0" data-select2-id="127">Beginner</option>
			<option value="1" data-select2-id="44">Intermediate</option>
			<option value="2" data-select2-id="128">Advanced</option>
			<option value="3" data-select2-id="129">Expert</option>
			<option value="4" data-select2-id="130">Lunatic</option>
			<option value="5" data-select2-id="131">Impossible</option>
		</select>
		<button type="submit" onclick=randomly_add_track()>Submit</button>
	</form>

	<script type="text/javascript">
		function randomly_add_track() {
			var tags = document.getElementById("tags").value;
			var difficulty = document.getElementById("difficulty").value;
			console.log(tags, difficulty);
			// Define the payload
			const payload = {
				tags: tags,
				difficulty: difficulty
			};

			// Make the POST request
			fetch('/add_track', {
				method: 'POST', // Use the POST method
				headers: {
					'Content-Type': 'application/json' // Specify the content type as JSON
				},
				body: JSON.stringify(payload) // Convert the payload to a JSON string
			})
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok ' + response.statusText);
				}
				return response.json(); // Parse the JSON response
			})
			.then(data => {
				console.log('Success:', data); // Handle the response data
			})
			.catch(error => {
				console.error('Error:', error); // Handle errors
			});

		}
	</script>
</body>
</html>